html, body {
	background-color: #F5F5F5;
	min-width: 320px;
}

* {
	box-sizing: border-box;
}

canvas {
	margin: 0;
}

h1 {
	font-family: 'Damion', cursive;
	text-align: center;
	font-size: 5em;
	color: #F28B66;
	line-height: 1em;
	margin: 0;
}

h3 {
	font-family: 'Damion', cursive;
	font-size: 2em;
	color: #F28B66;
}

input[type="button"] {
	background: #FFF;
	background: rgba(255, 255, 255, 0.35);
	padding: 0.5em 1em;
	border: solid 1px #F28B66;
	font-size: 1em;
	border-radius: 2px;
	margin: 4px 8px;
	cursor: pointer;
	transition: all 250ms;
	-webkit-transition: all 250ms;
}
input[type="button"]:hover {
	background: #F28B66;
	color: #FFF;
}
input[type="button"]:active {
	position:relative;
	top:1px;
}

.github-button {
	display: none;
}

.sections {
	margin: 0 auto 0.5em auto;
	width: 900px;
	max-width: 100%;
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1em 0;
}

.filters .filter {
	width: 136px;
	display: block;
	float: left;
	margin: 4px;
	cursor: pointer;
	background: #FFF;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
	padding: 4px;
	font-family: 'Damion', cursive;
	font-weight: lighter;
	font-size: 1.3em;
	transition: box-shadow 250ms;
	-webkit-transition: box-shadow 250ms;
}

.filters .filter:hover {
	/*box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);*/
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
}

.filters .filter .filter-holder + label {
	color: #000;
	transition: color 250ms;
	-webkit-transition: color 250ms;
}

.filters .filter .filter-holder.active + label {
	color: #379aff;
}

.filters .filter canvas {
	background-color: #eee !important;
	background-image: none !important;
	display: block;
	cursor: pointer !important;
	border: none !important;
}

#export img {
	width: 256px;
	height: 256px;
	background: #FFF;
}
